@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --leo-primary: 232 93 4;
    --leo-secondary: 26 26 26;
    --leo-bg: 245 245 244;
  }

  body {
    @apply antialiased bg-[#F5F5F4] text-[#111827];
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .h-safe-bottom {
    height: env(safe-area-inset-bottom);
  }
}